@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hbwoii');
  src:  url('fonts/icomoon.eot?hbwoii#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hbwoii') format('truetype'),
    url('fonts/icomoon.woff?hbwoii') format('woff'),
    url('fonts/icomoon.svg?hbwoii#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renzheng2:before {
  content: "\e901";
  color: #4785f9;
}
.icon-scanning:before {
  content: "\e9ad";
}
.icon-V3:before {
  content: "\e9ab";
  color: #e3e8ee;
}
.icon-V2:before {
  content: "\e9ac";
  color: #e3e8ee;
}
.icon-zulin:before {
  content: "\e9a7";
  color: #a3c2fc;
}
.icon-zhizuoanzhuang:before {
  content: "\e9a8";
  color: #a3c2fc;
}
.icon-weixiu:before {
  content: "\e9a9";
  color: #a3c2fc;
}
.icon-Fill-1:before {
  content: "\e9a5";
}
.icon-Fill-1-Copy-2:before {
  content: "\e9a6";
}
.icon-renzheng:before {
  content: "\e9aa";
  color: #4785f9;
}
.icon-wuxiangmu:before {
  content: "\e9a4";
  color: #e3e8ee;
}
.icon-jingbiaojieshu:before {
  content: "\e9a3";
  color: #7ed321;
}
.icon-sandian:before {
  content: "\e9a2";
  color: #4785f9;
}
.icon-qiangdanjieshu:before {
  content: "\e9a1";
  color: #7ed321;
}
.icon-shoucang:before {
  content: "\e99f";
  color: #83848e;
}
.icon-shuchu:before {
  content: "\e9a0";
  color: #83848e;
}
.icon-chexiao:before {
  content: "\e99c";
  color: #4785f9;
}
.icon-weizhongbiao:before {
  content: "\e99d";
  color: #83848e;
}
.icon-yizhongbiao:before {
  content: "\e99e";
  color: #7ed321;
}
.icon-Group-10-Copy-2 .path1:before {
  content: "\e98f";
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy-2 .path2:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy-2 .path3:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy-2 .path4:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(245, 166, 35);
  opacity: 0.5;
}
.icon-Group-10-Copy-3 .path1:before {
  content: "\e993";
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy-3 .path2:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy-3 .path3:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy-3 .path4:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(245, 166, 35);
  opacity: 0.5;
}
.icon-Group-10-Copy .path1:before {
  content: "\e997";
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy .path2:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy .path3:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(126, 211, 33);
  opacity: 0.5;
}
.icon-Group-10-Copy .path4:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(245, 166, 35);
  opacity: 0.5;
}
.icon-taocan:before {
  content: "\e99b";
  color: #83848e;
}
.icon-suoding:before {
  content: "\e98d";
  color: #7ed321;
}
.icon-xianzhi:before {
  content: "\e98e";
  color: #7ed321;
}
.icon-liwu:before {
  content: "\e98c";
  color: #4785f9;
}
.icon-laba:before {
  content: "\e900";
  color: #f5a623;
}
.icon-tixing:before {
  content: "\e906";
}
.icon-faxian:before {
  content: "\e907";
}
.icon-me:before {
  content: "\e908";
}
.icon-Set-up:before {
  content: "\e909";
}
.icon-meiyong:before {
  content: "\e90a";
}
.icon-youyong:before {
  content: "\e90b";
}
.icon-zuoji:before {
  content: "\e90c";
}
.icon-gongju:before {
  content: "\e90d";
}
.icon-call1-copy:before {
  content: "\e90e";
}
.icon-dengzhu-copy:before {
  content: "\e90f";
}
.icon-fangan-copy:before {
  content: "\e910";
}
.icon-ruanjian-copy:before {
  content: "\e911";
}
.icon-weixiu-copy:before {
  content: "\e912";
}
.icon-xianlan-copy:before {
  content: "\e913";
}
.icon-orders:before {
  content: "\e914";
}
.icon-trophy:before {
  content: "\e915";
}
.icon-woman:before {
  content: "\e916";
}
.icon-Cancellation:before {
  content: "\e917";
}
.icon-Correct-complete:before {
  content: "\e918";
}
.icon-data:before {
  content: "\e919";
}
.icon-Doubt:before {
  content: "\e91a";
}
.icon-checkmark:before {
  content: "\e91b";
}
.icon-error:before {
  content: "\e91c";
}
.icon-circle-down:before {
  content: "\e91d";
}
.icon-circle-up:before {
  content: "\e91e";
}
.icon-data-message:before {
  content: "\e91f";
}
.icon-message:before {
  content: "\e920";
}
.icon-Location4:before {
  content: "\e921";
}
.icon-cross:before {
  content: "\e922";
}
.icon-Expansion:before {
  content: "\e923";
}
.icon-rule:before {
  content: "\e924";
}
.icon-Tender:before {
  content: "\e925";
}
.icon-Turn-page:before {
  content: "\e926";
}
.icon-user:before {
  content: "\e927";
}
.icon-user2:before {
  content: "\e928";
}
.icon-wallet:before {
  content: "\e929";
}
.icon-man:before {
  content: "\e92a";
}
.icon-phone01:before {
  content: "\e92b";
}
.icon-phone02:before {
  content: "\e92c";
}
.icon-return:before {
  content: "\e92d";
}
.icon-demand:before {
  content: "\e92e";
}
.icon-location:before {
  content: "\e92f";
}
.icon-budget:before {
  content: "\e930";
}
.icon-card:before {
  content: "\e931";
}
.icon-pause:before {
  content: "\e932";
}
.icon-phone:before {
  content: "\e933";
}
.icon-play:before {
  content: "\e934";
}
.icon-use:before {
  content: "\e935";
}
.icon-Triangle-2:before {
  content: "\e936";
}
.icon-rmb:before {
  content: "\e937";
}
.icon-aircraft:before {
  content: "\e938";
}
.icon-arrow:before {
  content: "\e939";
}
.icon-cancellation:before {
  content: "\e93a";
}
.icon-checkmark02:before {
  content: "\e93b";
}
.icon-data02:before {
  content: "\e93c";
}
.icon-location5:before {
  content: "\e93d";
}
.icon-lock:before {
  content: "\e93e";
}
.icon-message02:before {
  content: "\e93f";
}
.icon-phone03:before {
  content: "\e940";
}
.icon-phone04:before {
  content: "\e941";
}
.icon-phone05:before {
  content: "\e942";
}
.icon-upgrade:before {
  content: "\e943";
}
.icon-user22:before {
  content: "\e944";
}
.icon-wallet02:before {
  content: "\e945";
}
.icon-arrowreturn:before {
  content: "\e946";
}
.icon-user326px:before {
  content: "\e947";
}
.icon-user4-51px:before {
  content: "\e948";
}
.icon-delete:before {
  content: "\e949";
}
.icon-enclosure:before {
  content: "\e94a";
}
.icon-go:before {
  content: "\e94b";
}
.icon-nail:before {
  content: "\e94c";
}
.icon-publishing-editor:before {
  content: "\e94d";
}
.icon-aircraft-pc:before {
  content: "\e94e";
}
.icon-checkmark-pc:before {
  content: "\e94f";
}
.icon-phone06:before {
  content: "\e950";
}
.icon-vip:before {
  content: "\e951";
}
.icon-file:before {
  content: "\e952";
}
.icon-expression:before {
  content: "\e953";
}
.icon-enclosure02:before {
  content: "\e954";
}
.icon-crown:before {
  content: "\e955";
}
.icon-crowd:before {
  content: "\e956";
}
.icon-gift:before {
  content: "\e957";
}
.icon-Plus:before {
  content: "\e958";
}
.icon-up:before {
  content: "\e959";
}
.icon-x:before {
  content: "\e95a";
}
.icon-uniE947:before {
  content: "\e95b";
}
.icon-uniE948:before {
  content: "\e95c";
}
.icon-uniE949:before {
  content: "\e95d";
}
.icon-checkmark-pc3:before {
  content: "\e95e";
}
.icon-complete-pc:before {
  content: "\e95f";
}
.icon-data-pc:before {
  content: "\e960";
}
.icon-down-pc:before {
  content: "\e961";
}
.icon-down-pc2:before {
  content: "\e962";
}
.icon-download-pc:before {
  content: "\e963";
}
.icon-edit-pc:before {
  content: "\e964";
}
.icon-error-pc:before {
  content: "\e965";
}
.icon-flip-pc:before {
  content: "\e966";
}
.icon-install-pc:before {
  content: "\e967";
}
.icon-join-pc:before {
  content: "\e968";
}
.icon-left-pc:before {
  content: "\e969";
}
.icon-location-pc2:before {
  content: "\e96a";
}
.icon-location-pcs:before {
  content: "\e96b";
}
.icon-mark:before {
  content: "\e96c";
}
.icon-message-pc:before {
  content: "\e96d";
}
.icon-nail-pc:before {
  content: "\e96e";
}
.icon-phone-pc:before {
  content: "\e96f";
}
.icon-play-pc:before {
  content: "\e970";
}
.icon-right:before {
  content: "\e971";
}
.icon-up-pc:before {
  content: "\e972";
}
.icon-up-pc2:before {
  content: "\e973";
}
.icon-user-pc:before {
  content: "\e974";
}
.icon-search-pc:before {
  content: "\e975";
}
.icon-crowd-pc:before {
  content: "\e976";
}
.icon-cross-pc:before {
  content: "\e977";
}
.icon-delete-pc:before {
  content: "\e978";
}
.icon-logo:before {
  content: "\e979";
}
.icon-download-pc2:before {
  content: "\e97a";
}
.icon-picture:before {
  content: "\e97b";
}
.icon-leftpc:before {
  content: "\e97c";
}
.icon-rightpc:before {
  content: "\e97d";
}
.icon-Certification:before {
  content: "\e97e";
}
.icon-distributed:before {
  content: "\e97f";
}
.icon-envelope:before {
  content: "\e980";
}
.icon-supplier:before {
  content: "\e981";
}
.icon-youyong-copy:before {
  content: "\e982";
}
.icon-meiyong-copy:before {
  content: "\e983";
}
.icon-faxian1:before {
  content: "\e984";
}
.icon-news1:before {
  content: "\e985";
}
.icon-qiehuan:before {
  content: "\e986";
}
.icon-jinpai:before {
  content: "\e987";
}
.icon-news:before {
  content: "\e988";
}
.icon-me1:before {
  content: "\e989";
}
.icon-tiepai:before {
  content: "\e98a";
}
.icon-qiehuan1:before {
  content: "\e98b";
}
