@import "src/css/mixin";

#QuotationTool{
    background: #FFF;
    padding: 30px;
    background: #FFFFFF;
    
    .title{
        font-size: 14px;
        color: $black;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 14px;
        margin: 36px 0 16px 0;
    }
    //公共li样式
    li{
        list-style-type: none;
        font-size: 12px;
        color: $lightgray;
        letter-spacing: 0;
        line-height: 12px;
        margin-bottom: 18px;
        cursor: pointer;
        
        &:last-child{
            margin: 0;
        }
    }
    //单选按钮样式--start
    strong{
        display: inline-block;
        height: 12px;
        width: 12px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid $lightgray;
        vertical-align: bottom;
        margin-right: 8px;
        line-height: 6px;
    }
    .radioSelsct{
        color: $blue!important;
        strong{
            border: 2.5px solid #fff;
            box-shadow: 0 0 0 1px #4785f9;
            background: #4785f9;
        }
    }
    //单选按钮样式--over
    .address{
        .title{
            margin-top: 0;
        }
        p{
            margin: 0;
            font-size: 12px;
            color: $blue;
            letter-spacing: 0;
            line-height: 12px;
            cursor: pointer;
            span{font-weight: 600;}
            .sel-pos{
                display: inline-block;
                @include text-ellipsis($width:200px);
            }
        }
        .icon-data-message{
            color: $blue;
            font-size: 11px;
            float: right;
            right: 10px;
        }
    }
    .environment{
    }
    .fault{}
    .useTime{
        position: relative;
        .start-time{
            height: 14px;
            font-size: 14px;
            color: $lightgray;
            letter-spacing: 0;
            line-height: 14px;
            cursor: pointer;
        }
        .icon-data-message{
            color: $blue;
            font-size: 11px;
            float: right;
            right: 10px;
            font-weight: 600;
            cursor: pointer;
            
        }
        .rental-calendar{
            display: none;
            position: absolute;
            width: 240px;
            height: 300px;
            background: #fafafa;
            z-index: 1;
            left: -10px;
            top: 60px;
            border-radius: 4px;
            box-shadow: 0 1px 6px 0 rgba(71, 133, 249, 0.5);
            #ca{
                box-shadow: none;
                left: 0;
                top: 0;
            }
            li{
                font-size: 14px;
                margin-bottom: 0;
                color: $gray;
            }
            .calendar .calendar-views .now{
                color: #4785f9;
                font-weight: bold;
            }
            .calendar .calendar-views .selected{
                color: #fff;
            }
            .month-items{
                padding-left: 10px;
                margin-right: -10px;
                position: relative;
                left: -5px;
                li{
                    position: relative;
                    left: -10px;
                }
            }
            .old,.new{
                color: #ddd;
            }
        } 
    }
    .totalTime{
        .auction-input{
            position: relative;
            font-size: 14px;
            color: $gray;
            letter-spacing: 0;
            line-height: 15px;

            .input-time{
                height: 24px;
                text-align: center;
                padding: 0 17px 7px 0;
                line-height: 24px;
                width: 90px;
                outline: none;
                border: none;
                cursor: pointer;
                border-bottom: 1px solid $linecolor;
            }
            .label1{ 
                position: absolute;
                left: 100px;
                top: 1px;
                
            }
            .count{
                border: 1px solid $blue;
                border-radius: 2px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                border-radius: 50%;
                color: $blue;
                display:inline-block;
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                vertical-align: bottom;
                cursor: pointer;
            }
            .minus{
                font-size: 12px;
            }
            .offer-input{
                width: 100%;
                height: .53rem;
                border: 1px solid $linecolor;
                border-radius: 2px;
                text-align: center;
                outline: none;
                line-height: .53rem;
                color: $black;
                font-size: .16rem;
                font-weight: bold;
                box-shadow: none;
                background-color: #fff;
                
                &:focus{
                border-color: $blue;
                }
            }
        }
    }
    .size{
        .write-size{position: relative;}
        [class^="s-"]{
            position: relative;
            display: inline-block;
            width: 90px;
            height: 25px;    
            vertical-align: bottom;   
            line-height: 1.2;     
            .input-size{
                height: 25px;
                padding: 0 38px 10px 0;
                display: inline-block;
                width: 85px;
                border: none;
                border-bottom: 1px solid $linecolor;
                font-size: 14px;
                color: $black;
                letter-spacing: 0;
                line-height: 14px;
                font-weight: 600;
                outline: none;
                
            }
            .input-size:focus{
                outline: none;
                border-bottom: 1px solid #4785f9;
            }
            em{
                position: absolute;
                font-size: 12px;
                color: $gray;
                letter-spacing: 0;
                line-height: 12px;
                right: 6px;
                bottom: 10px;
                font-style: normal;
            }
        }

        .icon-cross{
            position: absolute;
            top: 56%;
            left: 54%;
            transform: translate(-50%,-50%) scale(0.75,0.75);
            height: 25px;
            width: 48px;
            text-align: center;
            font-size: 12px;
            vertical-align: bottom;
            line-height: 1.3;
            margin: 0 -9px;
        } 
        .s-height{
            float: right;
        }

    }
    .surr{
        .surr-type{
            display: inline-block;
            width: 75px;
            font-size: 12px;
            color: $lightgray;
            letter-spacing: 0;
            line-height: 12px;
            margin-right: -4px;
            cursor: pointer;
            
        }
    }
    .color{
        .color-type{
            display: inline-block;
            width: 75px;
            font-size: 12px;
            color: $lightgray;
            letter-spacing: 0;
            line-height: 12px;
            margin-right: -4px;
            cursor: pointer;
        }
    }
    .distance{
        .range-pane{
            position: relative;
            margin-bottom: 50px;
            margin-top: 30px;
            .blue-cover{
                position: absolute;
                top: 0;
                left: 0;
                width: 35%;
                height: 8px;
                border-radius: 8px;
                background-color: $blue;
                z-index: 1;
            }
            .origin{
                position: absolute;
                top: -2px;
                left:0;
                display:block;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                box-shadow: 0 0 0 1px $blue;
                border: 2.5px solid #fff;
                background-color: $blue;
                z-index: 3;
                color: $gray;
                
            }
            .origin-value{
                font-size: 12px;
            }
            .change-value{
                position: absolute;
                font-size: 12px;
                left: 35%;
                top: -20px;
                color: $gray;
            }
        }
        /** =====修改默认的浏览器range样式===== */
        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            border-radius: 8px; /*这个属性设置使填充进度条时的图形为圆角*/
            &:focus {
            outline: none;
            }
            margin-bottom: .15rem;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
            height: 8px;
            border-radius: 10px; /*将轨道设为圆角的*/
            background-color: $linecolor;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 12px;
            width: 12px;
            margin-top: -2px; /*使滑块超出轨道部分的偏移量相等*/
            border-radius: 50%; /*外观设置为圆形*/
            box-shadow: 0 0 0 1px $blue;
            border: 2.5px solid #fff;
            background-color: $blue;
            position: relative;
            z-index: 2;
        }
    }
    .spider{
        position: relative;
        width: 100%;
        height: 8px;
        border: 0;
        background-color: $linecolor;
        border-radius: 8px;
        margin-top: 20px;
        cursor: pointer;

        .slider{
            position: absolute;
            left:35%;
            width:13px;
            height:13px;
            border-radius: 50%;
            border: 3px solid #fff;
            box-shadow: 0 0 0 1px #4785f9;
            background: #4785f9;
            top: -3px;
            cursor: pointer;
        }
        .fill{
            width:35%;
            height:8px;
            background: #4785f9;
            top: 0;
            border-radius: 8px 0 0 8px;
            position: relative;
            cursor: pointer;
        }
        .words{
            position: absolute;
            font-size: 12px;
            top: -20px;
            left: 34%;
            color: #83848e;
        }
    }
    .height{
        .write-height{
            position: relative;
            width: 100%;
            height: 25px;    
            vertical-align: bottom;   
            line-height: 1.2;     
            .input-height{
                height: 25px;
                padding: 0 22px 10px 0;
                display: inline-block;
                width: 100%;
                border: none;
                border-bottom: 1px solid $linecolor;
                font-size: 14px;
                color: $black;
                letter-spacing: 0;
                line-height: 14px;
                outline: none;
            }
            .input-height:focus{
                outline: none;
                border-bottom: 1px solid #4785f9;
            }
            em{
                position: absolute;
                font-size: 12px;
                color: $gray;
                letter-spacing: 0;
                line-height: 12px;
                right: 0;
                bottom: 10px;
                font-style: normal;
            }
        }
    }
    .install{
    }
}